name: Laravel Tests

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          path: Backend_IrudiPertsonala
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: mbstring, pdo, pdo_sqlite

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist
        working-directory: Backend_IrudiPertsonala

      - name: Prepare environment
        run: |
          cp .env.testing .env
          php artisan key:generate
        working-directory: Backend_IrudiPertsonala

      - name: Run tests
        run: php artisan test
        working-directory: Backend_IrudiPertsonala
